@page
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<form asp-controller="Save" method="post" id="sectionForm">
    <label>Email address</label>
    <div class="form-group">
        <input type="text" class="form-control" id="name" name="name" placeholder="name" required>
    </div>

    <label>Email address</label>
    <div class="form-group">
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
    </div>

    <label>Gender</label></br>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="gender1" value="Male" checked>
        <label class="form-check-label" for="gender1"> Male </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="gender2" value="Female">
        <label class="form-check-label" for="gender2"> Female </label>
    </div>

    <label>Registered Date</label></br>
    <div class="form-group row">
        <input class="form-control" type="date" value="2019-01-01" name="registeredDate" id="example-date-input" min='2019-01-01' max='2019-06-30'>
    </div>

    <label>Selected event days</label></br>
    <div class="form-check form-check-inline events">
        <input type="checkbox" class="form-check-input" name="eventDays" value="Day 1">Day 1</br>
        <input type="checkbox" class="form-check-input" name="eventDays" value="Day 2">Day 2</br>
        <input type="checkbox" class="form-check-input" name="eventDays" value="Day 3">Day 3</br>
    </div>
    <div class="col-auto">
        <label>Request</label>
        <div class="form-group">
            <input type="text" class="form-control" id="Request" name="request" placeholder="Type additional request here" required>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </div>

</form>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script>
    (function () {
        const form = document.querySelector('#sectionForm');
        const checkboxes = form.querySelectorAll('input[type=checkbox]');
        const checkboxLength = checkboxes.length;
        const firstCheckbox = checkboxLength > 0 ? checkboxes[0] : null;

        function init() {
            if (firstCheckbox) {
                for (let i = 0; i < checkboxLength; i++) {
                    checkboxes[i].addEventListener('change', checkValidity);
                }

                checkValidity();
            }
        }

        function isChecked() {
            for (let i = 0; i < checkboxLength; i++) {
                if (checkboxes[i].checked) return true;
            }

            return false;
        }

        function checkValidity() {
            const errorMessage = !isChecked() ? 'At least one checkbox must be selected.' : '';
            firstCheckbox.setCustomValidity(errorMessage);
        }

        init();
    })();
</script>